<!doctype html>
<style>
  .ck-editor__editable_inline {
      min-height: 150px;
  }
  </style>
<%- include('../layouts/top_header') %>

  <body class="layout-fluid theme-light">
    <div class="page">
      <%- include('../layouts/header') %>

        <div class="page-wrapper">
          <% if(error.length>0){ %>
            <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
               
            <% } %>

        <% if(success.length>0){ %>
                <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
                <% } %>    
          <!-- Page header -->
          <div class="page-header d-print-none">
            <div class="container-xl">
              <div class="row g-2 align-items-center">

                <div class="col">
                  <!-- Page pre-title -->
                  <div class="page-pretitle">
                    <a href="/dashboard">Dashboard</a>
                  </div>
                  <h2 class="page-title">
                    CLF LOAN Distribution
                  </h2>
                </div>

                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                      
                      <a href="/clfloanlist" class="btn btn-primary d-none d-sm-inline-block">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                         Back To List
                      </a>
                      <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#add" aria-label="Create new report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                      </a>
                    </div>
                  </div>
               

              </div>
            </div>
          </div>
          <!-- Page body -->

          <div class="page-body">
            <div class="container-xl">
              <div class="col-12">
                <div class="row row-cards">
                    <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Distribute Loan</h3>
                          </div>
                         
                          <form  method="post" class="card" name="clfloan"  id="clfloan"  action="/clfloan">
                            <fieldset class="form-fieldset">
                            <div class="container">
                             
                              <div class="row">
                                <div class="col-sm-4">
                                  <label class="form-label required">CLF Name :</label>
                                    <select class="form-control form-select"  name="clf_id" id="clf_id">
                                      <option value="">Select CLF</option>
                                      <% for (let s of vodata)
                                              {
                                            
                                              %>
                                              <option value="<%= s.id %>" >
                                              <%= s.name %> 
                                              </option>
                                              <% } %>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                  <label class="form-label required">VO Name :</label>
                                    <select class="form-control form-select"  name="vo_id" id="vo_id">
                                      <option value="">Select VO</option>
                                      <% for (let s of vodata)
                                              {
                                            
                                              %>
                                              <option value="<%= s.id %>" >
                                              <%= s.name %> 
                                              </option>
                                              <% } %>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                  <label class="form-label required">Loan Type :</label>
                                    <select class="form-control form-select"  name="loan_type_id" id="loan_type_id">
                                      <option value="">Select Type Of Loan</option>
                                      <% for (let s of vodata)
                                              {
                                            
                                              %>
                                              <option value="<%= s.id %>" >
                                              <%= s.name %> 
                                              </option>
                                              <% } %>
                                    </select>
                                </div>
                                
                                <div class="col-sm-4">
                                  <label class="form-label required">Loan Provide Date :</label>
                                  <input type="date" name="loan_provide_date" id="loan_provide_date" class="form-control" autocomplete="off" >
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label required">Loan Amount</label>
                                    <input type="text" name="loan_amount" id="loan_amount" class="form-control" autocomplete="off" placeholder="Enter the loan amount">
                                </div>
                                <div class="col-sm-4">
                                  <label class="form-label required">EMI Amount</label>
                                  <input type="text" name="emi_amount" id="emi_amount" class="form-control" autocomplete="off" placeholder="Enter the emi amount">
                                </div> 
                              
                            </div>
                          </fieldset>
                          <div class="card-footer text-end">
                            <center >
                              <a href="/clfloanlist" class="btn btn-warning">Cancel</a>
                              <button type="button" class="btn btn-primary" onclick="validateform()" >Save</button>
                           </center>
                          </div>
                      </form> 
                      </div>
                </div>
              </div>
            </div>
          </div>
       
          <%- include('../layouts/footer') %>
        </div>
    </div>
  </body>

  <script>
      function validateform() 
    {
    
    var vo_id = $('#vo_id').val();
    var loan_type_id = $('#loan_type_id').val();
    var loan_provide_date = $('#loan_provide_date').val();
    var loan_amount = $('#loan_amount').val();
    var emi_amount = $('#emi_amount').val();
   
   
      if(vo_id =='')
      {
        new Toasteur("top-right", 3000).error("VO name is required", 'Error!');
        $('#vo_id').focus();
        return false;
      }
      if(loan_type_id =='')
      {
        new Toasteur("top-right", 3000).error("Loan type is required", 'Error!');
        $('#loan_type_id').focus();
        return false;
      }  
    if(loan_provide_date =='')
      {
        new Toasteur("top-right", 3000).error("loan provide date is required", 'Error!');
        $('#loan_provide_date').focus();
        return false;
      }
   
     if(loan_amount =='')
      {
        new Toasteur("top-right", 3000).error("loan amount is required", 'Error!');
        $('#loan_amount').focus();
        return false;
      } 
      if(emi_amount =='')
      {
        new Toasteur("top-right", 3000).error("emi amount is required", 'Error!');
        $('#emi_amount').focus();
        return false;
      }
      else
      {
       $("#clfloan").submit();  
       //$("#loader").show();  
        return true;
      }
  }

// block alphabets and special character //
function isNumber(evt) {
  evt = (evt) ? evt : window.event;
  var charCode = (evt.which) ? evt.which : evt.keyCode;
  if (charCode > 31 && (charCode < 48 || charCode > 57)) {

    swal({
      title: "Error",
      text: "Only Number allowed!",
      type: "error",
      timer: 1500,
      showCancelButton: true,
      confirmButtonClass: 'btn-danger',
    });
    return false;
  }
  return true;
}
    
    </script>
    