<!doctype html>
<%- include('../layouts/top_header') %>

  <style>
    .form-switch {
        padding-left: 0.5rem !important;
    }
  .form-check-input:checked {
    background-size: 1.4rem !important;
    background-color: #e73801 !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  .form-check-input{
    background-size: 1.4rem !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  
  </style>
  <body class="layout-fluid theme-light">
    <div class="page">
      <%- include('../layouts/header') %>

        <div class="page-wrapper">
          <% if(error.length>0){ %>
            <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
               
            <% } %>

        <% if(success.length>0){ %>
                <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
                <% } %>    
          <!-- Page header -->
          <div class="page-header d-print-">
            <div class="container-xl">
              <div class="row g-2 align-items-center">

                <div class="col">
                  <!-- Page pre-title -->
                 
                  <h2 class="page-title">
                  Block
                  </h2>
                </div>

                <div class="col-auto ms-auto d-print-">
                  <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">

                      <a href="/blocklist" class="btn btn-primary d-sm-inline-block " >
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                       Back To List
                      </a>
                      <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#add" aria-label="Create new report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                      </a>
                    </div>
                  </div>
                  </div>
               

              </div>
            </div>
          </div>
          <!-- Page body -->
          <div class="page-body">
            <div class="container-xl">
              <div class="col-12">
                <div class="row row-cards">
                    <div class="col-md-7">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">List of Block</h3>
                        </div>
                       
                        <div class="table-responsive">
                          <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                              <tr>
                                <th>S No.</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Block Name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%  if(list.length>0)
                              { 
                                var number= 1;
                                for (let l of list)
                                  { 
                                     %>

                                    <tr>
                                      <td><%= number %></td>
                                      <td><%
                                            if(l.state_id == 1){
                                              var state ='Utter Pradesh'; 
                                            } 
                                          %>
                                        
                                       <%=  state %></td>
                                      <td>
                                        <%
                                        if(l.city_id == 1){
                                          var city ='Varanasi'; 
                                        } %>
                                        <%=  city %></td>
                                      <td ><a href="/viewblockwiseamt/?id=<%= l.block_name  %>"><%= l.block_name %></a></td>
                                      
                                    </tr>

                                  <% number++; } 
                              }  %>
                             
                            </tbody>
                          </table>
                        </div>
                        <br>
                        <center>
                          <ul class="pagination modal-4">
                            <% var reamin = totalPages * pageSize;  if (reamin > pageSize) { %>  
                            <% if (currentPage > 1) { %>
                            <li><a href="?page=<%= currentPage - 1 %>" class="prev"><i class="fa fa-chevron-left"></i> Previous</a></li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <% if(i <= 6) { %>
                              <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                              <% } else if(currentPage == i){ %>
                                <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                                
                              <% break;  } } %>

                            <% if(currentPage >= 5) { if(currentPage != totalPages) { %>
                              <% if(currentPage != totalPages - 1) { %>
                              <li><a href="javascript:void(0)" class="">...</a></li>
                              <% } %>
                              <li><a href="?page=<%= totalPages %>"><%= totalPages %></a></li>

                            <%  } } %>

                          
                            <% if (currentPage < totalPages) { %>
                              <li><a href="?page=<%= currentPage + 1 %>" class="next"> Next  <i class="fa fa-chevron-right"></i></a></li> 
                            <% } %>

                            <% } %>
                           
                          </ul>
                        </center>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Edit Block</h3>
                        </div>
                        <form  method="post" class="card" name="add_block"  id="addBlock"  action="/updateBlockData">

                          <div class="card-body form-fieldset">
                           
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="row ">
                                       <fieldset class="form-fieldset">
                                            <div class="col-xl-12">
                                              <label class="form-label required">State Name :</label>
                                                <select class="form-control form-select"  name="state_name" id="state_name">
                                                  <option value="">Select State Name</option>
                                                  <option value="1" <%=  list[0].state_id === 1 ? 'selected' : '' %>>Uttar Pradesh</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-12">
                                              <label class="form-label required">City Name :</label>
                                                <select class="form-control form-select"  name="city_name" id="city_name">
                                                  <option value="">Select City Name</option>
                                                  <option value="1" <%=  list[0].city_id === 1 ? 'selected' : '' %>>Varanasi</option>
                                                  <option value="2" <%=  list[0].city_id === 2 ? 'selected' : '' %>>Ghazipur</option>
                                                  <option value="3" <%=  list[0].city_id === 3 ? 'selected' : '' %>>Ghazipur</option>
                                                </select>
                                            </div>
                                              <div class="col-xl-12">
                                                  <input type="hidden" name="row_id" id="row_id" value="<%= list[0].id %>" >
                                                  <label class="form-label required">Block Name:</label>
                                                  <input type="text" name="block_name" id="block_name" value="<%= list[0].block_name %>" class="form-control" autocomplete="off" placeholder="Enter the Block Name">
                                              </div>
                                             
                                        </fieldset>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        
                          <div class="card-footer text-end">
                              <center >
                                  <a href="#" class="btn btn-warning">Cancel</a>
                                  <button type="button" class="btn btn-primary" onclick="validateform()" >Save</button>
                              </center>
                          </div>
                      </form>

                      </div>
                      </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
          <%- include('../layouts/footer') %>
        </div>
    </div>
  </body>

<!--Start function on chage Time Slot status  -->
  <script>

function validateform() {
    
    var state_name = document.getElementById('state_name').value;
    var city_name = document.getElementById('city_name').value;
    var block_name = document.getElementById('block_name').value;
   

     if(state_name =='')
      {
        new Toasteur("top-right", 3000).error("State Name is required", 'Error!');
        $('#state_name').focus();
        return false;
      }
     if(city_name =='')
      {
        new Toasteur("top-right", 3000).error("City Name is required", 'Error!');
        $('#city_name').focus();
        return false;
      }
     if(block_name =='')
      {
        new Toasteur("top-right", 3000).error("Block Name is required", 'Error!');
        $('#block_name').focus();
        return false;
      } 
      
  else{
     
      $("#addBlock").submit();  
      $("#loader").show();  
      return true;

      }
  }

// block alphabets and special character //
function isNumber(evt) {
evt = (evt) ? evt : window.event;
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57)) {

  swal({
    title: "Error",
    text: "Only Number allowed!",
    type: "error",
    timer: 1500,
    showCancelButton: true,
    confirmButtonClass: 'btn-danger',
  });
  return false;
}
return true;
}


function checkConfirm(id) {

var rowId  = id;
 var y = confirm('Are you sure');
 if(y)
   {
     $.ajax({
      type: 'get', // Type of request to be send, called as method
      url: '/deleteTimeSlotSrv/?rowid='+rowId, //  Url to which the request is send
      dataType: 'json',
      success: function (responce) { // A function to be called if request succeeds.
       if(responce == 1){
         new Toasteur("top-right", 3000).success("Selected row Deleted Suceesfully", 'Success');
         $("#rowid_"+rowId).hide();
         setTimeout(function(){
            window.location.reload(1);
          }, 3000);
       }else{
         new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
         setTimeout(function(){
            window.location.reload(1);
          }, 3000);
       }
      }
   });
 }

}    

  $(document).on('change', '.change_timeslot_status', function () { 
    var status = $(this).val();
    var rel_id = $(this).attr('rel_id');
    var success = confirm('Are you sure you want to change Time Slot status?');
      if(success)
      {
          if (status != "" && (rel_id != 0 || rel_id != "")) {
            $.ajax({
              type: 'get', // Type of request to be send, called as method
              url: '/changetimeSlotStaus/?rowid='+rel_id+'&status='+status, //  Url to which the request is send
              dataType: 'json',
              success: function (responce) { // A function to be called if request succeeds.
                if(responce == 1){
                  new Toasteur("top-right", 3000).success("Time Status changed Suceesfully", 'Success');
                  setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }else{
                  new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
                  setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }
              }
            });

          }
      }  
      else
      {
          return false; 
      }
  });



  ClassicEditor
    .create( document.querySelector( '#item_description' ) )
    .then( editor => {
            console.log( editor );

    } )
    .catch( error => {
            console.error( error );
    } );
  </script>
<!--End function on chage Time Slot status  -->  
    