<!doctype html>
<%- include('../layouts/top_header') %>

  <style>
    .form-switch {
        padding-left: 0.5rem !important;
    }
  .form-check-input:checked {
    background-size: 1.4rem !important;
    background-color: #e73801 !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  .form-check-input{
    background-size: 1.4rem !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  .form-control{
    height: auto !important;
  }
  
  </style>
  <body class="layout-fluid theme-light">
    <div class="page">
      <%- include('../layouts/header') %>

        <div class="page-wrapper">
          <% if(error.length>0){ %>
            <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
               
            <% } %>

        <% if(success.length>0){ %>
                <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
                <% } %>    
          <!-- Page header -->
          <div class="page-header d-print-">
            <div class="container-xl">
              <div class="row g-2 align-items-center">

                <div class="col">
                  <!-- Page pre-title -->
                
                </div>

               

              </div>
            </div>
          </div>
          <!-- Page body -->
          <div class="page-body">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="row row-cards">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Panchang</h3>
                        </div>
                       
                        <div class="table-responsive">
                          <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                              <tr>
                                <th>Sr No.</th>
                                <th>अँग्रेजी ता.</th>
                                <th>मास</th>
                                <th>तिथि</th>
                                <th>तिथि मान घ प</th>
                                <th>नक्षत्र</th>
                                <th>दिन</th>
                                <th>संख्या</th>
                                <th>तत्त्व दीनम्</th>
                                <th>नक्षत्र</th>
                                <th>योग</th>
                                <th>करणम</th>
                                <th>वाशरनाथ</th>
                                <th> दिननित्या</th>
                                <th>घाटिको</th>
                                <th>तिथिनित्या</th>
                                <th>सु ऊ</th>
                                <th> सु अ </th>
                                <th> पर्व</th>
                              </tr>
                            </thead>
                            <tbody>
                             <tr>
                              <td></td>
                             </tr>
                             
                            </tbody>
                          </table>
                        </div>
                        <br>
                        <center>
                          <ul class="pagination modal-4">
                            <% var reamin = totalPages * pageSize;  if (reamin > pageSize) { %>  
                            <% if (currentPage > 1) { %>
                            <li><a href="?page=<%= currentPage - 1 %>" class="prev"><i class="fa fa-chevron-left"></i> Previous</a></li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <% if(i <= 6) { %>
                              <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                              <% } else if(currentPage == i){ %>
                                <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                                
                              <% break;  } } %>

                            <% if(currentPage >= 5) { if(currentPage != totalPages) { %>
                              <% if(currentPage != totalPages - 1) { %>
                              <li><a href="javascript:void(0)" class="">...</a></li>
                              <% } %>
                              <li><a href="?page=<%= totalPages %>"><%= totalPages %></a></li>

                            <%  } } %>

                          
                            <% if (currentPage < totalPages) { %>
                              <li><a href="?page=<%= currentPage + 1 %>" class="next"> Next  <i class="fa fa-chevron-right"></i></a></li> 
                            <% } %>

                            <% } %>
                           
                          </ul>
                        </center>
                        </div>
                      </div>
                     
                  
                  
                </div>
              </div>
            </div>
          </div>
          <%- include('../layouts/footer') %>
        </div>
    </div>
  </body>

<!--Start function on chage Time Slot status  -->
  <script>

function validateform() {
    
   
    var block_name = document.getElementById('block_name').value;
    var clf_name = document.getElementById('clf_name').value;
  

    
   
     if(block_name =='')
      {
        new Toasteur("top-right", 3000).error("Block Name is required", 'Error!');
        $('#block_name').focus();
        return false;
      } 
      if(clf_name =='')
      {
        new Toasteur("top-right", 3000).error("Clf Name is required", 'Error!');
        $('#city_name').focus();
        return false;
      }
     
      
  else{
     
      $("#addClf").submit();  
      $("#loader").show();  
      return true;

      }
  }

// block alphabets and special character //
function isNumber(evt) {
evt = (evt) ? evt : window.event;
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57)) {

  swal({
    title: "Error",
    text: "Only Number allowed!",
    type: "error",
    timer: 1500,
    showCancelButton: true,
    confirmButtonClass: 'btn-danger',
  });
  return false;
}
return true;
}


function checkConfirm(id) {

var rowId  = id;
 var y = confirm('Are you sure you want delete.');
 if(y)
   {
     $.ajax({
      type: 'get', // Type of request to be send, called as method
      url: '/deleteClfData/?rowid='+rowId, //  Url to which the request is send
      dataType: 'json',
      success: function (responce) { // A function to be called if request succeeds.
       if(responce == 1){
         new Toasteur("top-right", 3000).success("Selected row Deleted Suceesfully", 'Success');
         $("#rowid_"+rowId).hide();
         setTimeout(function(){
            window.location.reload(1);
          }, 3000);
       }else{
         new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
         setTimeout(function(){
            window.location.reload(1);
          }, 3000);
       }
      }
   });
 }

}    

  $(document).on('change', '.change_clf_status', function () { 
    var status = $(this).val();
    var rel_id = $(this).attr('rel_id');

    console.log("statusstatus");
    console.log(status);
    console.log(rel_id);

    var success = confirm('Are you sure you want to change CLF status?');
      if(success)
      {
          if (status != "" && (rel_id != 0 || rel_id != "")) {
            $.ajax({
              type: 'get', // Type of request to be send, called as method
              url: '/changeClfDataStatus/?rowid='+rel_id+'&status='+status, //  Url to which the request is send
              dataType: 'json',
              success: function (responce) { // A function to be called if request succeeds.
                if(responce == 1){
                  new Toasteur("top-right", 3000).success("CLF Status changed Suceesfully", 'Success');
                  setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }else{
                  new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
                  setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                }
              }
            });

          }
      }  
      else
      {
          return false; 
      }
  });



  ClassicEditor
    .create( document.querySelector( '#item_description' ) )
    .then( editor => {
            console.log( editor );

    } )
    .catch( error => {
            console.error( error );
    } );


    $(document).on('change', '#addClf #type', function () {
    var ptype = $(this).val();

  
    if (ptype != "") {

      $.ajax({
          type: 'get', // Type of request to be send, called as method
          url: '/getPmtTypeListById/?ptype='+ptype, //  Url to which the request is send
          dataType: 'json',
          success: function (response) { // A function to be called if request succeeds.
            console.log("response");
            console.log(response);
              if (response) {
                $('#addClf #payment').empty();
                $('#addClf #payment').append('<option value="">Select Type</option>');
                $.each(response, function (item, i) {

                    $('#addClf #payment').append('<option value="' + i.id + '">' + i.pmt_detail + '</option>'); // THis value is show in dropdown after click state name show city name in dropdwon,
                });
              }
          }
      });
    }
  });
  
  $(document).on('change', '#addClf #payment', function () {
     var ptype = $(this).val();
      console.log("dddddd");
      console.log(ptype);

    // if(ptype == 6 || ptype == 9){
    //   $(".shd").show();
    // }else{
    //   $(".shd").hide();
    // }

    if (ptype != "") {

      $.ajax({
          type: 'get', // Type of request to be send, called as method
          url: '/getPmtTypeDetailById/?ptype='+ptype, //  Url to which the request is send
          dataType: 'json',
          success: function (response) { // A function to be called if request succeeds.
            console.log("response");
            console.log(response);
              if (response) {
                $('#addClf #pg_loan').empty();
                $('#addClf #pg_loan').append('<option value="">Select Loan to PG</option>');
                $.each(response, function (item, i) {

                    $('#addClf #pg_loan').append('<option value="' + i.id + '">' + i.detail + '</option>'); // THis value is show in dropdown after click state name show city name in dropdwon,
                });
              }
          }
      });
      } 
     });

     $(document).on('change', '#addClf #expance', function () {
        var exptype = $(this).val();

        console.log("exptype");
        console.log(exptype);
        if (exptype != "") {

          $.ajax({
              type: 'get', // Type of request to be send, called as method
              url: '/getExpanceListById/?exptype='+exptype, //  Url to which the request is send
              dataType: 'json',
              success: function (response) { // A function to be called if request succeeds.
                console.log("response");
                console.log(response);
                if (response) {
                  $('#addClf #expance_details').empty();
                  $('#addClf #expance_details').append('<option value="">Select Type</option>');
                  $.each(response, function (item, i) {

                      $('#addClf #expance_details').append('<option value="' + i.id + '">' + i.cader_details + '</option>'); // THis value is show in dropdown after click state name show city name in dropdwon,
                  });
                }
              }
          });
        }
      });

         
  </script>
<!--End function on chage Time Slot status  -->  
    