<!doctype html>
<%- include('../layouts/top_header') %>

  <style>
    .form-switch {
        padding-left: 0.5rem !important;
    }
  .form-check-input:checked {
    background-size: 1.4rem !important;
    background-color: #e73801 !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  .form-check-input{
    background-size: 1.4rem !important;
    width: 3rem !important;
    height: 1.4rem !important;
  }
  
  </style>
  <body class="layout-fluid theme-light">
    <div class="page">
      <%- include('../layouts/header') %>

        <div class="page-wrapper">
          <% if(error.length>0){ %>
            <script>new Toasteur("top-right", 3000).error(" <%= error %>", 'Error!');</script>
               
            <% } %>

        <% if(success.length>0){ %>
                <script>new Toasteur("top-right", 3000).success(" <%= success %>", 'Success!');</script>
                <% } %>    
          <!-- Page header -->
          <div class="page-header d-print-">
            <div class="container-xl">
              <div class="row g-2 align-items-center">

                <div class="col">
                  <!-- Page pre-title -->
                  <div class="page-pretitle">
                    <a href="/dashboard">Dashboard</a>
                  </div>
                  <h2 class="page-title">
                    List of Expance
                  </h2>
                </div>

                <div class="col-auto ms-auto d-print-">
                  <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                      
                      <!-- <a href="/addClfData" class="btn btn-primary d-none d-sm-inline-block" > -->
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                        Add CLF
                      </a> -->
                      <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#add" aria-label="Create new report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                      </a>
                    </div>
                  </div>
                  </div>
               

              </div>
            </div>
          </div>
          <!-- Page body -->
          <div class="page-body">
            <div class="container-xl">
              <div class="col-12">
                <div class="row row-cards">
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">List of Expance</h3>
                        </div>
                        <div class="table-responsive">
                          <table id="myTable" class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                              <tr>
                                <th>S No.</th>
                                <th>Exapnce Name</th>
                                <th>Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%  if(list.length>0)
                                { 
                                  var number= 1;
                                  for (let l of list)
                                    { 
                                     
                                       %>

                                      <tr>
                                        <td><%= number %></td>
                                        <td><%
                                          if(l.cader_id == 1){
                                           
                                            var cname ='Cader Expance'; 

                                          }else if(l.cader_id == 2){

                                            var cname ='Office Expance'; 

                                          } else if(l.cader_id == 3){

                                            var cname ='Other Expance'; 
                                            
                                          }
                                        %>
                                      
                                     <%=  cname %></td>
                                        <td><%=  l.cader_details %></td>
                                        <td>
                                          <a href="#" class="btn btn-twitter btn-icon" aria-label="">
                                            <i class="fa fa-edit"></i>
                                          </a>
                                          <!-- <a href="#" class="btn btn-twitter btn-icon" aria-label="">
                                            <i class="fa fa-eye"></i>
                                          </a> -->
                                          <a onclick="return checkConfirm()" style="display:none;" class="btn btn-danger btn-icon" aria-label="">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        </td>
                                      </tr>

                                    <% number++; } 
                                }  %>
                              
                             
                            </tbody>
                          </table>
                        </div>
                        <br>
                        <center>
                          <ul class="pagination modal-4">
                            <% var reamin = totalPages * pageSize;  if (reamin > pageSize) { %>  
                            <% if (currentPage > 1) { %>
                            <li><a href="?page=<%= currentPage - 1 %>" class="prev"><i class="fa fa-chevron-left"></i> Previous</a></li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <% if(i <= 6) { %>
                              <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                              <% } else if(currentPage == i){ %>
                                <li><a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a></li>
                                
                              <% break;  } } %>

                            <% if(currentPage >= 5) { if(currentPage != totalPages) { %>
                              <% if(currentPage != totalPages - 1) { %>
                              <li><a href="javascript:void(0)" class="">...</a></li>
                              <% } %>
                              <li><a href="?page=<%= totalPages %>"><%= totalPages %></a></li>

                            <%  } } %>

                          
                            <% if (currentPage < totalPages) { %>
                              <li><a href="?page=<%= currentPage + 1 %>" class="next"> Next  <i class="fa fa-chevron-right"></i></a></li> 
                            <% } %>

                            <% } %>
                           
                          </ul>
                        </center>
                     
                      </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
          <%- include('../layouts/footer') %>
        </div>
    </div>
  </body>

  <script>

    $(document).on('change', '.change_shastri_status', function () { 
      var status = $(this).val();
      var rel_id = $(this).attr('rel_id');
      console.log(status);
      console.log(rel_id);
      var success = confirm('Are you sure you want to change Shastri status?');
        if(success)
        {
            if (status != "" && (rel_id != 0 || rel_id != "")) {
              $.ajax({
                type: 'get', // Type of request to be send, called as method
                url: '/changeshastriStatus/?rowid='+rel_id+'&status='+status, //  Url to which the request is send
                dataType: 'json',
                success: function (responce) { // A function to be called if request succeeds.
                  if(responce == 1){
                    new Toasteur("top-right", 3000).success("Shastri Status changed Suceesfully", 'Success');
                    setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                  }else{
                    new Toasteur("top-right", 3000).error("Somthing Went wrong Please try again", 'Error!');
                    setTimeout(function(){
                      window.location.reload(1);
                    }, 3000);
                  }
                }
              });

            }
        }  
        else
        {
            return false; 
        }
  });

  </script>
<!--End function on chage Time Slot status  -->  
    